.FT{
	display: none;
	position: -webkit-sticky;
  	position: sticky;
	width: 35%;
	//border: 3px solid yellow;
	background-color: var(--color-gray);
	//z-index: 5;
	left: 65%;
	
}

.player-card{
	width: 95%;
	height: 95%;
	max-width: 500px;
	margin: 0 auto;
	position: absolute;
	top: 2.5%;
	left: 2.5%;
	
	display: flex;
	
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
	
	gap: 5px;
	
	
	
	border-radius: 8px;
	
	background-image: url("https://img.freepik.com/premium-vector/world-cup-2022-qatar-background_342897-24.jpg?w=2000");
	background-attachment: fixed;
	
	border: 1px solid black;
	
	box-shadow: 0 0 8px 8px;
	overflow-y: auto;
}
i{
	cursor: pointer;
}
#card-close{
	position: absolute;
	top: 5%;
	left: 3%;
	z-index: 5;

}

.player-card img{
	object-fit: cover;
	max-height: 50%;
	max-width: 50%;
	border-radius: 8px;
	flex-shrink: 1;
	box-shadow: 0 0 10px 2px;
}
.TF-info{
	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    min-height: 30%;
    min-width: 35%;
    color: rgb(213, 93, 161);
    justify-content: space-evenly;
    align-items: center;
    border: 1.5px solid rgba(169, 10, 10, 0.5);
    border-radius: 3.5px;
    background-image: url(https://www.pesmaster.com/efootball-2022/graphics/players/0000_b01_0_.webp);
    box-shadow: 0 0 8px 5px;
    font-weight: bold;
}

.player-card h3,h4{
	margin: 0;
	padding: 0;
}
#CONTAIN{
	position: absolute;
	top: 0;
	left: 0;
	//height: 100%;
	width: 100%;
	display: none;
	//border: 5px solid blue;
	overflow-y: auto;
}

@media only screen and (max-width: 860px){
	.player-card{
		left: calc( ( 100% - 500px) / 2 );
	}
	/*.player-card img{
		max-height: 80%;
	}*/
}
@media only screen and (max-width: 650px){
	.player-card{
		left: 2.5%;
	}
}
