.FT{
	display: none;
  	position: sticky;
	width: 35%;
	height: 300px;
	background-color: var(--color-white);
	border: 3px solid yellow;
	//z-index: 5;
	left: 65%;
	top: 0;
	
}

#CONTAIN{
	position: absolute;
	top: 0;
	left: 0;
	//height: 100%;
	width: 100%;
	display: none;
	border: 5px solid blue;
	overflow-y: auto;
}
