/* --------Contenaire principale------- */
.mainContainer{
	display: none;
    background-color: brown;
    position: relative;
    width: 100%;
}
.newMatchButton{
	position: absolute;
	top: 20px;
	left: 40%;
	width: 80px;
	z-index: 3;
}
.NewMatchForm, .modifyForm{
	display: none;
	position: fixed;
	width: 250px;
	height: 300px;
	top: calc((100% - 250px) / 2 );
	left: calc((100% - 300px) / 2 );
	border: 2px solid yellow;
	border-radius: 8px;
	z-index: 5;
	background-color: white;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
.NewMatchForm label, .modifyForm label{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.matchFormBackground{
	display:none;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background-color: rgba(255,255,255, 0.5);
	z-index: 4;
}
.NewMatchForm i{
	position: fixed;
	top: calc(((100% - 250px) / 2 ) + 20px);
	left: calc(((100% - 300px) / 2 ) + 20px);
	z-index: 7;
}
.modifyForm i{
	position: fixed;
	top: calc(((100% - 270px) / 2 ) + 20px);
	left: calc(((100% - 320px) / 2 ) + 20px);
	z-index: 7;
}
/* ------contenaire des cartes----- */
.container0{
   display: flex;
   justify-content: center;
   position: relative;
   top: 0px;

   padding: 20px;
   width: 100%;
   flex-direction: row;
   gap: 61px;
}
/* ---------proprietees des cartes------ */
.card{
    height: 100px;
   
    box-shadow: 5px 5px 20px black ;
    color: brown;
    background-color: wheat;
    border-radius: 5px 43%;
    margin-left: -16px;
    width: 100%;
}
.deleteButton{
	position: absolute;
	top: 35%;
	right: 25%;
}
.deleteButton:hover{
	cursor: pointer;
}
.deleteGroupButton{
	position: absolute;
	top: 10%;
	left: 15%;
}
.deleteGroupButton:hover{
	cursor: pointer;
}
.modifyButton{
	position: absolute;
	top: 35%;
	right: 35%;
}
.modifyButton:hover{
	cursor: pointer;
}
/* ---------proprietees de temps------ */
.dateHeure{
    font-size: large;
    font-weight: bold;
    line-height: 20px;
    display: flex;
    justify-content: right;
}

/*.card:hover{
    cursor: pointer;

}*/
/* --------proprietees des matches----- */
  .match{
    font-size: 405%;
    position: relative;
    top: 10px;
    left: 32px;
    margin: 0;

}

/* ------contenaire des groupes----- */
.group{
	position: relative;
    display: flex;
    flex-direction: column;
    gap: 26px;
}


/* ------------------Ajuster la taille des cartes au fur et à mesure la taille de la fenêtre---------------- */

@media  only screen and (min-width: 981px) {
    .match{
        font-size: 423%;
        position: relative;
        top: 13px;
        left: 104px;
    }
    .card{
        width: 66%;
    }
}
@media  only screen and (max-width: 980px) {
    .match{
        font-size: 399%;
        position: relative;
        top: 13px;
        left: 116px;
    }
    .card{
        width: 74%;
    }
}

@media  only screen and (max-width: 867px) {
    .match{
        font-size: 385%;
        position: relative;
        top: 13px;
        left: 60px;
    }
}
/* @media  only screen and (max-width: 814px) {
    .match{
        font-size: 308%;
        position: relative;
        top: 13px;
        left: 1px;
    }
}

@media  only screen and (max-width: 800px) {
    .match{
        font-size: 291%;
        position: relative;
        top: 8px;
        left: 1px;
    }
} */
@media  only screen and (max-width: 690px) {
    .match{
        font-size: 279%;
        position: relative;
        top: 12px;
        left: 12px;
    }
    .dateHeure{
        margin-top: 7%;
        margin-left: 10%;
    }

}

