.News-Ads{
	display: none;
	position: absolute;
	top: 110px;
	left: 0;
	height: calc(100% - 150px);
	width: 75%;
	z-index: 2;
	transition: width 0.5s ease-in-out;
	overflow-y: auto;
	overflow-x: hidden;
	margin-bottom: 30px;
}
