.container0{
   display: flex;
   justify-content: center;
   position: relative;
   top: 0px;
   left: 37px;
   width: 100%;
   /* margin-bottom: -74px; */
   flex-direction: row;
gap: 61px;
}
.card{
    height: 100px;
    /* margin:50px; */
    box-shadow: 5px 5px 20px black ;
    color: brown;
    background-color: wheat;
    border-radius: 5px 43%;
    margin-left: -16px;
    width: 100%;
}
/* .card>.versus{
    text-align: center;
    margin-top: -45px;
    position: relative;
    top: -55px;
    font-size: xxx-large;
}*/
 /* .title{
    position: relative;
    top: -20px;

} */

/*.pays1>li{
    list-style: none;
    width: 25vw;
    display: flex;
    justify-content: right;
    font-size: 53px;
    position: relative;
    right: 124px;
    top: -40px;
}
.pays2>li{
    list-style: none;
    width: 25vw;
    display: flex;
    justify-content: left;
    font-size: 53px;
    margin-top: -43px;
    position: relative;
    left: 47px;
    top: -65px;
} */
.dateHeure{
    font-size: large;
    line-height: 20px;
    display: flex;
    justify-content: right;
}
.pays2>p, .date{
    background-color: antiquewhite;
    font-size: larger;
    border-radius: 5px 43%;
    margin-top: 7px;
    position: relative;
    bottom:60px;
    opacity: 0;
    visibility: hidden;

}
.card:hover{
    cursor: pointer;

}
.card:hover p, .date{
    opacity: 1;
    visibility: visible;
    
}   .match{
    font-size: 405%;
    position: relative;
    top: 10px;
    left: 32px;
    margin: 0;

}
@media  only screen and (max-width: 800px) {
    .match{
        font-size: 169%;
        position: relative;
        top: -26px;
        left: 1px;
    }
}


.container1{
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    left: 32px;
    top: 0px;
    margin-bottom: -74px;
    
}
.container2{
    display: flex;
    justify-content: center;
    position: relative;
    top: 0px;
    left: 32px;
    width: 100%;
   
    
 }
.mainContainer{
    background-color: brown;
    position: relative;
    top: -174px;
    /* right: -22px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; */
    width: 75%;
    /* overflow: auto; */
}