:root{
	--color-red: rgb(226, 43, 73);
	--color-white: white;
	--color-purple: rgb(74, 12, 168);
	--color-black: black;
	--color-green: green;
	--color-lime: lime;
	--color-gray: #cecece;
	--color-darkGreen: #263421;
} /*root pour avoir les variable accessible aux tous les classes.*/
html, body {
    box-sizing: border-box;
    font-family: Arial, Sans-serif;font-family: 'Ropa Sans', sans-serif;
}

* {
    box-sizing: inherit;
}
body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	min-width: 500px;
	min-height: 400px;
	overflow-x: hidden;
	overflow-y: hidden;
}

header {
    position: fixed;
    height:20vh;
    width:100%;
    top:0px;
    background-color: var(--color-red);
    z-index: 1;
    border-bottom: 1.5px var(--color-purple) solid ;
}
/* Nouha */

.marquee{
    width:60vw;
    height: 25vh;
	margin-left: 421px;
    /* background-color: #111; */
    color: #eee;
    overflow: hidden;
    position: relative;
	margin-top: -140px;
	padding-top: 18px;
}
.marquee:before, .marquee:after{
    position: absolute;
    top: 0;
    width: 1rem;
    height: 100%;
    content: "";
    z-index: 1;
}
.marquee:before{
    left: 0;
    /* background: linear-gradient(to right, #111 0%, transparent 100%); */
}

.marquee:after{
    right: 0;
    /* background: linear-gradient(to left, #111 0%, transparent 100%); */
}

.marquee-cntent{
    list-style: none;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    animation: scrolling 10s linear infinite;
}
@keyframes scrolling{
    0% {transform : translate(0);}
    100%{transform: translate(calc(-2*7vw*10));}

}
 .marquee-cntent:hover{

    animation-play-state: paused;
} 
.marquee-cntent li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vw;
    flex-shrink: 0;
    font-size: 5rem;
    white-space: nowrap;
}

.marquee-cntent li img{
    width: 100%;
    border: 2px solid #eee;
}
@media only screen and (max-width: 600px)  {
	.marquee{
		width: 100vw;
		left: -225px;
	}
} 


	/*abdou*/
	/* z-index pour rester devant*/
nav{
	width: 75%;
	height: 30%;
	position: absolute;
	top: 69%;
	left: 25%;
	/* border: 2px solid black; */
}
	/*Modification de la liste*/
nav ul, .sous-menu ul{
	position: relative;
	list-style-type: none;
	padding:0;
	margin: 0;
	display: flex;
	align-items: center;
	flex-wrap: nowrap;
	height: 100%;
	width: 100%;
	font-family: 'Ropa Sans', sans-serif;
	/* //border: 2px solid yellow; */
}
@media only screen and (max-width: 750px){
	.sous-menu a{
		font-size: 1.9vw;
	}
	nav a{
		font-size: 2.7vw;
	}
	.sous-menu {
		margin-top: -2px;
	}
	.actualite{
		font-size: 2.2vw;
	}
	.volet-header{
		font-size: 0.6rem;
	}
	.container{
		gap: 0.5vw;
	}
	.col h1 {
		font-size: 1rem;
		padding-top: 0.5rem;
	}
	.col:not(#liens) li{
		font-size: 0.8rem;
	}
	footer:hover {
		overflow-y: auto;
	}
	.close{
		width: 30px;
		height: 30px;
		font-size: 30px;
	}
	.open{
		width: 30px;
		height: 30px;
		font-size: 30px;
		left: -26px;
	}
	.volet2 li{
		padding: 7px 7px;
		margin-bottom: 25px ;
		font-size: 1.2rem;
	}
	.volet2 ul{
		padding-top: 15px;
	}
	.volet-header.teams {
	font-size: 0.5rem;
	}
}
@media only screen and (min-width: 750px){
	.sous-menu a{
		font-size: 1.3vw;
	}
	nav a{
		font-size: 2.3vw;
	}
	.actualite{
		font-size: 1.5vw;
	}
	.volet-header{
		font-size: 1rem;
	}
	.col h1 {
		font-size: 1.75rem;
	}
	.col:not(#liens) li{
		font-size: 1.3rem;
	}
	footer:hover {
		overflow-y: hidden;
	}
	.close{
		width: 50px;
		height: 50px;
		font-size: 50px;
	}
	.open{
		width: 50px;
		height: 50px;
		font-size: 50px;
		left: -43px;
	}
	.volet2 li{
		padding: 9px 9px;
		margin-bottom: 30px ;
		font-size: 1.4rem;
	}
	.volet2 ul{
		padding-top: 20px;
	}
	.container{
		gap: 1vw;
	}
	.volet-header.teams {
		font-size: 0.7rem;
	}
}
@media only screen and (min-width: 1200px){
	.volet2 li{
		padding: 12px 12px;
		margin-bottom: 40px ;
		font-size: 1.5rem;
	}
	.volet2 ul{
		padding-top: 25px;
	}
	.container{
		gap: 2vw;
	}
	.volet-header.teams {
		font-size: 0.8rem;
	}
}
	/*Modification des elements de la liste*/
nav ul>li{
	display: flex;
	height: 100%;
	width: 25%;
	border: 1px solid var(--color-black);
	border-top: none;
	border-bottom: none;
	align-items: center;
	justify-content: center;
}
nav ul>li:first-of-type{
	border-left:none;
}
nav ul>li:last-of-type{
	border-right:none;
}
	/*Modification de chaque lien de navigation*/
	/*les classes sont de cette maniere pour eviter les problemes avec d'autre elements a,li,ul*/
nav a{
	text-decoration: none;
	display: block;
	text-align: center;
}
nav li:hover{
	background-color: var(--color-white);
}
.groupes:hover{
	color: var(--color-red);
}

/*activation de sous menu*/
.menu:hover .sous-menu {
	visibility: visible;
	transition: height 0.2s linear;
	height: 10vh;
}
.sous-menu{
	visibility: hidden;
	position: absolute;
	width: 75%;
	height: 0%;
	background-color: var(--color-purple);
	z-index: 1;
	top: calc(100% );
}

.sous-menu>ul>li{
	display: flex;
	width: 12.5%;
	height: 100%;
	border: 1px solid var(--color-black);
	border-top: none;
	align-items: center;
	justify-content: center;
}
.sous-menu a {
	float: left;
	display: block;
	text-decoration: none;
	text-align: center;
}



/*youssef*/
.logo{
    position: relative;
    left: 8%;
    top: 34%;
    
}
.logo_img{
    height: 70px;
    width: 154px;
}


/*abdou*/
.volet5{
	position: fixed;
	top: 20vh;
	right: 0;
	height: calc(72vh);
	width: 25%;
	border: 2px solid black;
	background: repeating-linear-gradient(
					180deg,
					var(--color-lime) 0%,
					var(--color-green) 5%,
					var(--color-lime) 10%
				);
	transition: right 0.5s  ease-in-out;
}
.volet5 a{
	text-decoration: none;
	cursor: pointer;
}
.sidebar{
	position: absolute;
	width: 95%;
	height: 85%;
	border: 1px solid yellow;
	overflow-y: scroll;
	top: 15%;	
	left: 2.5%;
	background: linear-gradient(
					45deg,
					var(--color-purple),
					var(--color-black)
				);
}
.sidebar img{
	width: 100%;
	object-fit: cover;
}


.actualite{
	width: 95%;
	margin-left: 2.5%;
	border-bottom: 3px solid var(--color-red);
	margin-bottom: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	color: var(--color-white);
}
#last{
	border-bottom: none;
}
.volet-header{
	width: 85%;
	height: 15%;
	top:0;
	border: 1px solid var(--color-red);
	margin: 0 auto;
	background: linear-gradient(
					45deg,
					var(--color-red),
					var(--color-purple)
				);
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
}
.volet-header h1{
	text-align: center;
	color: var(--color-white);
	margin:0;
	padding:0;
}

.open{
	position: absolute;
	top: 40px;
	visibility: hidden;
}
.open2{
	position: fixed;
	margin-top: -2px;
	left: 15%;
	visibility: hidden;
	z-index: 1;
	font-size: 2rem;
}
footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 8vh;
	min-height: 20px;
	/*border-top: 1px solid var(--color-purple);*/
	background-color: var(--color-red);
	overflow: none;
	transition-duration: 0.25s;
	transition-timing-function: ease-out;
	z-index: 2;
}
footer:hover{
	transition-duration: 0.35s;
	transition-timing-function: ease-in;
	height: calc(8vh + 10vh);
	min-height: 50px;
	overflow-x: hidden;

}
.container{
	width: 100%;
	height: 100%;
	margin-top:2px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
}
.col{
	height: 100%;
	text-align: center;
}
.col h1 {
	margin: 0.2rem 0;
	height: 8vh;
	border-bottom: 1px solid var(--color-black);
}
.col:not(#liens, #admins) h1{
	margin-bottom: -1vh;
}
.col ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.col a{
	text-decoration: none;
	color: inherit;
	font-weight: bold;
}
#liens li{
	font-size: calc(1.5vh + 1.5vw);
	display: inline;
	margin-right: 3vw;
}
#liens li:last-of-type{
	margin-right: 0;
}
#liens ul{
	margin-top: 0.5rem;
}
#admins ul{
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 2px;
	background-color: var(--color-black);
}
#admins ul li{
	background-color: var(--color-red);
	padding-right: 5px;
	padding-bottom: 1px;
}
#version li{
	margin: 1rem auto;
}
#contact ul{
	margin-top: 7px;
}

.border{
	width: 1vw;
	height: 8vh;
	margin-top: 8vh;
	background-color: var(--color-white);
}
footer img {
	position: absolute;
	top: -25px;
	left: 2.5%;
	transform: scale(0.8);
}
/* volet 2 */
.volet2{
	position: relative;
	top:20vh;
	width: 15%;
	height: 72vh;
	z-index: 1;
	border-right: 1px blue solid;
	padding: 0;
	background: repeating-linear-gradient(
					180deg,
					var(--color-lime) 0%,
					var(--color-green) 5%,
					var(--color-lime) 10%
				);
	overflow-x: hidden;
	overflow-y: auto;
	transition: left 0.5s  ease-in-out;
	visibility:hidden;
	left: -15%;
}

.volet2 ul {
	width: 95%;
	position: relative;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
	margin: 0 auto;
}
#openButton2{
	visibility: visible;
	left:0;
}
.volet2 li{
	position: relative;
	text-align: left;
	border: 1px blue solid;
	background-color: var(--color-red);
 }
.volet2 li:last-of-type{
	margin-bottom: 0;
}
.volet-header.teams{
	height: 15%;
	width: 100%;
}
.volet2 a{
	text-decoration: none;
	cursor: pointer;
}

