html {
    box-sizing: border-box;
    
}
body{
    margin: 0px;
    margin-top: -16px;
}

* {
    box-sizing: inherit;
}
h1 {
    text-align: center;
}
header {
    position: fixed;
    height:230px;
    width:100%;
    
    background-color: rgb(226, 43, 73);
    border-bottom: 1.5px rgb(74, 12, 168) solid ;
}
.logo{
    position: relative;
    left: 8%;
    top: 34%;
    
}
.logo_img{
    height: 70px;
    width: 154px;
}
.volet5{
    padding-top: 10px;
    position: relative;
    top: 230px;
    left: 75%;
    border-left:  1.5px rgb(74, 12, 168) solid ;
    width: 25%;
    
}
figure{
    margin-left: -30px;
    font-size: small;
}
#KSAimg{
    
    height: 180px;
    width: 280px;
    left: -20px;
}
